*.DS_Store
_build/

BUILD/

Debug-appletvos/
Debug-appletvsimulator/
Debug-iphoneos/
Debug-iphonesimulator/
MinsizeRel-iphoneos/
MinsizeRel-iphonesimulator/
RelWithDebugInfo-iphoneos/
RelWithDebugInfo-iphonesimulator/
Release-appletvos/
Release-appletvsimulator/
Release-iphoneos/
Release-iphonesimulator/
